* {
  font-size: 14px;
}

body {
  background-color: #eeeded;
}

.fixed-container {
  max-width: 1000px;
  padding-top: 50px;
}

.to-do-list {
  flex-basis: 42%;
  margin-right: 2%;
}

.delete-button {
  height: 13px;
  width: 13px;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  background-image: url('img/delete-button.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* input form */

.input-form {
  flex-basis: 50%;
}

#new-item-text {
  height: 230px;
  resize: none;
}

#submit {
  font-size: 1rem;
}