* {
  font-size: 14px;
}

body {
  background-color: #eeeded;
}

.fixed-container {
  max-width: 1000px;
  padding-top: 50px;
}

.to-do-list {
  flex-basis: 42%;
  margin-right: 2%;
}

.item--done{
  opacity: 50%;
}

.item-name--hidden{
  overflow: hidden;
  overflow-wrap: normal;
  max-height: 25px;
}

.text--linethrough{
  text-decoration: line-through
}

.delete-button {
  height: 13px;
  width: 13px;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  background-image: url('img/delete-button.png');
  background-repeat: no-repeat;
  background-position: center;
}

.display-button {
  width: 10px;
  height: 10px;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  background-image: url('img/arrow.png');
  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.3s
}

.button--rotate {
  transform: rotate(90deg);
}

/* input form */

.input-form {
  flex-basis: 50%;
}

#new-item-text {
  height: 230px;
  resize: none;
}

#submit {
  font-size: 1rem;
}